html {
    font-family:Arial;
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
    font-variant: small-caps;
}
p.latestposts {
    position:absolute;
    left: 10%;
    top: 13%;
    font-variant: small-caps;
    font-size: 20px;
    
    
}