html {
    color: black;
    background-color: whitesmoke;
    cursor: crosshair;
}
.navbar {
    overflow: hidden;
    background-color: green;
    position: static;
    top: 0;
    width: 100%;
    
}
.navbar a {
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
    background: whitesmoke;
    color: green;
}
/* ID */
#contactme {
    color: black;
    position: absolute;
    left: 40%;
    font-size: xx-large;
}