html {
    color: white;
    background-color: black;
}
.navbar {
    overflow: hidden;
    background-color: white;
    position: static;
    top: 0;
    width: 100%;
    
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
    background: black;
    color: white;
}
/* ID */
#contactme {
    color:white;
    position: absolute;
    left: 40%;
    font-size: xx-large;
    border: 2px solid white;
}