html {
    background-color: whitesmoke;
    color: black;
    cursor: crosshair;
    
}
body {

}
.navbar {
    overflow: hidden;
    background-color: green;
    position: static;
    top: 0;
    width: 100%;
    
}
.navbar a {
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
    background: whitesmoke;
    color: green;
}
h1.currentprojects {
    text-align: center;
    font-variant: small-caps;
}
h1.pastprojects {
    text-align: center;
    font-variant: small-caps;
}