html {
  background-color: black; 
}

body {
    font-family:Arial,sans-serif;
    
}

p.progress { color: white;
    font-size:105%;
    position: absolute;
    top: 0%;
    left: 90vw;
}

#chillmusic {
    position:absolute;
    top:1.5%;
    left:11%;
    
}
/* ID */
#contactme {
    color:white;
    position: absolute;
    left: 40%;
    font-size: x-large;    
}

 /* Class */
.welcometext {
    color:white;
    
}
h3.welcometext {
    font-style: italic;
}
.navbar {
    overflow: hidden;
    background-color: white;
    position: static;
    top: 0;
    width: 100%;
    
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
    background: black;
    color: white;
}

    
}

