html {
  background-color: #ff3300; 
}

body {
    font-family:Pacifico;
    
}

p { color: white;
    font-size:180%
}
/* ID */
#contactme {
    color:white;
    
    
}
 /* Class */
.welcometext {
    color:white;
}

