html {
  background-color: #ff3300; 
}

body {
    font-family:Arial,sans-serif;
    
}

p.progress { color: white;
    font-size:105%;
    position: absolute;
    top: 0%;
    left: 90vw;
        
}

#chillmusic {
    position:absolute;
    top:1.5%;
    left:11%;
    
}
/* ID */
#contactme {
    color:white;
    position: absolute;
    left: 40%;
    font-size: x-large;    
}

 /* Class */
.welcometext {
    color:white;
    
}
h3.welcometext {
    font-style: italic;
}


