html {
  background-color: black; 
}

body {
    
}

p.progress { color: white;
    font-size:105%;
    position: absolute;
    top: 0%;
    left: 90vw;
}

 /* Class */
#welcometext {
    background-image: url("mainpagephoto.jpg");
    padding: 400px;
    background-repeat: no-repeat;
    background-color: black;
    color:white;
    text-align:center;
    background-attachment: fixed;
    margin-top: 5px;
    
}
h1.welcometext {
    font-size: 35px;
}
h3.welcometext {
    font-style: italic;
    text-indent: 20px;
    word-spacing: 5px;
    padding: 5px;
    font-size: 30px;
 
}
a.newsletter {
    font-size: 30px;
    color: white;
    padding: 10px;
    border: 3px solid white;
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: static;
    top: 0;
    width: 100%;
    
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
    background: black;
    color: white;
}

    
}

